header{
    background-color: #ffffff;
    border : 1px solid #959595;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}


#cabezera_index {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
}


#titulo {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos */
    align-items: center; /* Alinea verticalmente */
    font-family: 'Respira Black', sans-serif;
    font-size: xx-large;
    padding: 10px;
    margin-left: 40%;
    margin-right: 0%;
    background-color: #ffffff; /* Fondo claro para el título */
}


#suscribirse{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

#boton_login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: 0;
    margin-right: 15px;
    border-radius: 5px;
}

.botones {
    display: flex;
    gap: 10px; /* Espaciado entre botones */
    margin-left: auto; /* Empuja los botones hacia la derecha */
}


#iniciar-secion{
    border: 1px solid #959595;
    
}

#logo {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene proporciones */
    margin-left: 15px; /* Espaciado con el título */
}

footer {
    background-color: #333333;
    color: #ffffff;
}

#menu {
    text-align: center;
    justify-content: center; /* Centra el menú */
    background-color: #fa7b7b;
    border-bottom: 1px solid #3f3f3f;
}

/*----------Noticias----------*/
.container_news {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    gap: 20px;
    font-family: 'Georgia', serif;
    border-bottom: 1px solid #ddd;
}

.texto-noticia {
    flex: 2;
    text-align: left;
}

.texto-noticia h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-noticia p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.texto-noticia a {
    display: inline-block;
    margin-top: 10px;
    color: #0044cc;
    text-decoration: none;
    font-weight: bold;
}

.texto-noticia a:hover {
    text-decoration: underline;
}

.imagen-noticia {
    flex: 1;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

